@import 'markdown.scss';
@import "fontawesome.scss";

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  background: #121212;
  color-scheme: dark;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: rgb(13,148,136);
  opacity: 0.75;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}


.transparent-input {
  &.el-form-item {
    @apply mb-4;

    &--large {
      @apply mb-6;
    }


    label {
      --el-text-color-regular: white;
      @apply text-base font-semibold;
    }
    .el-form-item__content {
      .el-form-item__error {
        @apply text-sm;
      }
    }
    

    .el-input {
      &__wrapper {
        @apply bg-transparent backdrop-blur-xl;
      }

      &__inner {
        --el-input-text-color: white;
        &::selection {
          background-color: transparent;
          color: #303133;
        }
      }
    }
  }

  
}